<!DOCTYPE html>{% load static %}
<html>
<body>
<link rel="stylesheet" type="text/css" href="FIB.css">
<div class="topnav">
  <a class="active" href="#home">Qwizza</a>
  <a href="#about">About</a>
  <a href="#subjects">Subjects</a>
  <a href="#discussion">Discussion Forums</a>
  <a href="#experts">Our Experts</a>
  <a href="#recommendedReferences">Recommended References</a>
  <a href="C:\Users\evksr\Desktop\FIB.html">Post a Question</a>
  <input type="text" placeholder="Search Qwizza">
</div>
<div class="login-box">
  
  <h2>POST A QUESTION</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      
      <label>Question:</label>
    </div>
    
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Option 1:</label>
    </div>
	    <div class="user-box">
      <input type="text" name="" required="">
      <label>Option 2:</label>
    </div>
	    <div class="user-box">
      <input type="text" name="" required="">
      <label>Option 3:</label>
    </div>
	    <div class="user-box">
      <input type="text" name="" required="">
      <label>Option 4:</label>
    </div>
	<div class="user-box">
      <input type="integer" name="" required="">
      <label>Correct Option Number:</label>
    </div>
	
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
     
  </form>
  
</div>

</body>



</body> 
</div>
<div class="footer">
<p>Contact us at: Instagram  | Facebook  |  Discord <br> For business enquiries, please send us a mail to: abcd@gmail.com​</p>
</div>
</html>