<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <title>Qwizza | SignUp</title>
    <link rel="stylesheet" href="{%  static  'style.css'  %}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Qwizza</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Subjects</a></li>
                    <li><a href="#">Discussions</a></li>
                    <li><a href="#">Question Paper Generator</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1>Crowd Sourced Question Banks<br><span>Your very own, Qwizza!</span> </h1>
            <br><br><br><br>
            <p class="par">A platform where teachers help each other <br> This is where you find questions verified by experts!<br>
                Ready for you to use to make into a Question paper
                <br> Whats's stopping you from joining our community?<br> Hurry Up!!</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                <div class="form">
                    <h2>Already a Member?</h2>
                    <input type="email" name="email" placeholder="Enter Email ">
                    <input type="password" name="" placeholder="Enter Password ">
                    <button class="btnn"><a href="http://127.0.0.1:5500/home.html#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="http://127.0.0.1:5500/randomeee/signup.html">Sign up </a> here</p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                    
                    </div>

                </div>
                    </div>
                </div>
       
    
</body>
</html>
