<!DOCTYPE html>{% load static %}
<html>
<body>

<link rel="stylesheet" type="text/css" href="QuestionMCQs.css">
<div class="topnav">
  <a class="active" href="#home">Qwizza</a>
  <a href="#about">About</a>
  <a href="#subjects">Subjects</a>
  <a href="#discussion">Discussion Forums</a>
  <a href="#experts">Our Experts</a>
  <a href="#recommendedReferences">Recommended References</a>
  <a href="#questionPaper">Make a Question Paper</a>
  <input type="text" placeholder="Search Qwizza">
</div>


</body> 
</html>